{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <div class="container py-5">
        {% comment %}
        -----------------------
        Description
        -----------------------
        {% endcomment %}
        <h1>{{ page.title }}</h1>
        <div class="intro">{{ page.intro|richtext }}</div>
        {% comment %}
        -----------------------
        List of post
        -----------------------
        {% endcomment %}
        {% for post in page.get_children %}
            {% with post=post.specific %}
                <div class="mt-4 border border-dark p-3">
                    <h2>
                        <a href="{% pageurl post %}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.intro }}</p>
                    <p>{{ post.body|richtext }}</p>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock content %}
