h1,
h2,
h3,
h4,
h5,
h6,
li,
button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    /*margin-top: 1.5rem;*/
    /*margin-bottom: 1.5rem;*/
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    font-size: 1.1rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6{
    font-weight: 800;!important;
}

.container {
    max-width: 750px;
}

#progress-bar {
    --scrollAmount: 0%;

    background-image: linear-gradient(120deg, #ff6060 0%, #9f6aca 100%);
    width: var(--scrollAmount);

    /* background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
    width: 100%; */

    height: 4px;
    position: fixed;
    top: 0;
}

/* Container with background image */
.background-overlay {
    position: relative;
    background-image: url('https://images.pexels.com/photos/245240/pexels-photo-245240.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    z-index: 1;
    color:white;
}

/* Overlay with semi-transparent effect */
.background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay (50% black) */
    z-index: -1; /* Keep overlay behind the text */
}
