h1,
h2,
h3,
h4,
h5,
h6,
li,
button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    /*margin-top: 1.5rem;*/
    /*margin-bottom: 1.5rem;*/
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    font-size: 1.1rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6{
    font-weight: 800;!important;
}

.container {
    max-width: 750px;
}

#progress-bar {
    --scrollAmount: 0%;

    background-image: linear-gradient(120deg, #ff6060 0%, #9f6aca 100%);
    width: var(--scrollAmount);

    /* background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
    width: 100%; */

    height: 4px;
    position: fixed;
    top: 0;
}