{% extends 'landingpitch/base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {#	<div class="container">#}
    {#        <h>{{ page.title }}</h>#}
    {#    </div>#}
    {% if page.body %}
        {% include_block page.body %}
    {% else %}
        <div class="px-4 py-5 text-center border border-dark d-flex flex-column justify-content-center"
             style="height: 95vh">
            <h1>Blank Page</h1>
            <p>Put something cool here ...</p>
        </div>
    {% endif %}

{% endblock %}