{% extends "landingpitch/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}
    flex flex-column
{% endblock %}

{% block content %}
    {#  INTRO   #}
    <section class="py-0 container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                {% if request.GET.tag %}
                    <h1>Tags:<br>"{{ request.GET.tag }}"</h1>
                {% endif %}
            </div>
        </div>
    </section>


    <!-- BODY -->
    <div class="container pt-2 pb-3 flex-fill px-3 px-md-5 ">

        <div class="row pb-5">
            {% for post in postpages %}
                <div class="col-12  p-4 pb-5 d-flex flex-column position-static shadow-sm border border-dark-subtle rounded">
                    <h3 class="mb-0"><a class="nav-link" href="{% pageurl post %}">{{ post.title }}</a></h3>
                    <div class="mb-3 text-body-secondary">{{ post.first_published_at }}</div>
                    <p class="mb-auto">{{ post.short|richtext }}</p>
                    <a href="{% pageurl post %}" class="icon-link gap-1">
                        Continue reading
                        <i class=" ti ti-arrow-narrow-right"></i>
                    </a>
                </div>
            {% empty %}
                No pages found with that tag.
            {% endfor %}

        </div>

        <!-- PAGINATION -->
        <nav class="blog-pagination mt-2 mb-5 text-center" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
            <a class="btn btn-outline-secondary rounded-pill disabled"
               aria-disabled="true">Newer</a>
        </nav>
    </div>

{% endblock %}