{% extends "landingpitch/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}
    flex flex-column
{% endblock %}

{% block content %}
    {#  INTRO   #}
    <section class="pt-5 pb-3 text-center container">
        <div class="row pt-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 style="font-size: 3.5rem;" class="mt-5">{{ page.title }}</h1>
                <p>{{ page.intro|richtext }}</p>
            </div>
        </div>
    </section>
    <!-- BODY -->
    <div class="container pt-2 pb-1 flex-fill px-3 px-md-5 ">

        <div class="row">
            {% for post in postpages %}
                {% with post=post.specific %}

                    <div class="col-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                            {# FEATURED PHOTO  #}
                            {% image post.featured_image width-1000 as img %}
                            {% if img %}
                                <div class="col-12 d-none d-md-block" style="
                                        width: 100%; /* Set container width */
                                        height: 300px; /* Set container height */
                                        background-image: url('{{ img.url }}'); /* Set the background image */
                                        background-position: center; /* Center the image */
                                        background-size: cover; /* Ensure the image covers the container */
                                        background-repeat: no-repeat; /* Prevent the image from repeating */
                                        "></div>
                            {% endif %}

                            {# CONTENT  #}
                            <div class="col-12  p-4 pb-5 d-flex flex-column position-static shadow-sm border border-dark-subtle rounded">
                                {# TAG  #}
                                {#                                <div class="d-flex gap-2 py-3">#}
                                {#                                    <div class="py-1 px-3 bg-dark text-white rounded-pill small">#}
                                {#                                        <a href="" class="nav-link">Web Programming</a>#}
                                {#                                    </div>#}
                                {#                                    <div class="py-1 px-3 bg-dark text-white rounded-pill small">#}
                                {#                                        <a href="" class="nav-link">Linux</a>#}
                                {#                                    </div>#}
                                {#                                </div>#}

                                <h3 class="mb-0"><a class="nav-link" href="{% pageurl post %}">{{ post.title }}</a></h3>
                                <div class="mb-3 text-body-secondary">{{ post.first_published_at }}</div>
                                <p class="mb-auto">{{ post.short|richtext }}</p>
                                <a href="{% pageurl post %}" class="icon-link gap-1">
                                    Continue reading
                                    <i class=" ti ti-arrow-narrow-right"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>

        {# PAGINATION #}
        <ul class="pagination">
            {% if postpages.has_previous %}
                <li class="page-item me-2">
                    <a class="page-link rounded border-dark text-dark" href="?page={{ postpages.previous_page_number }}">«</a>
                </li>
            {% else %}
                <li class="page-item disabled me-2">
                    <a class="page-link rounded border-dark text-dark" href="#">«</a>
                </li>
            {% endif %}

            {# Set the range of pages to display around the current page #}
            {% for i in postpages.paginator.page_range %}
                {% if i == postpages.number %}
                    <li class="page-item active me-2">
                        <a class="page-link rounded bg-dark text-white border-dark" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% elif i >= postpages.number|add:'-2' and i <= postpages.number|add:'2' %}
                    <li class="page-item me-2">
                        <a class="page-link rounded border-dark text-dark" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if postpages.has_next %}
                <li class="page-item me-2">
                    <a class="page-link rounded border-dark text-dark" href="?page={{ postpages.next_page_number }}">»</a>
                </li>
            {% else %}
                <li class="page-item disabled me-2">
                    <a class="page-link rounded border-dark text-dark" href="#">»</a>
                </li>
            {% endif %}
        </ul>


    </div>

{% endblock %}