{% extends "landingpitch/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}
    flex flex-column
{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5 flex-fill px-3 px-md-5 ">
        <h1 class="">{{ page.title }}</h1>
        {#  TAGS CATEGORY #}
{#        <div class="d-flex gap-2">#}
{#            <div class="py-1 px-3 bg-dark text-white rounded-pill small">#}
{#                <a href="" class="nav-link">Web Programming</a>#}
{#            </div>#}
{#            <div class="py-1 px-3 bg-dark text-white rounded-pill small">#}
{#                <a href="" class="nav-link">Linux</a>#}
{#            </div>#}
{#        </div>#}
        <!-- Profile -->
        <div class="row py-3 mt-2" style="font-size: 14px;">
            <div class="col-2 col-md-1 d-flex flex-column align-items-center justify-content-center">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                     style="width:100%"
                     class="rounded-circle"
                     alt="Avatar"/>
            </div>
            <div class="col-10 col-md-8 d-flex flex-column justify-content-center">
                <div class="fw-bold">Aldy Koderstory</div>
                <div class="d-flex gap-3 text-secondary">
                    <div>{{ page.first_published_at }}</div>
                    <div class="text-dark">
                        <span id="time"></span> min read
                    </div>
                </div>
            </div>
        </div>
        <!-- FEATURED IMAGE -->
        {% image page.featured_image width-1000 as img %}
        <img class="my-1"
             width="100%"
             src="{{ img.url }}"
             alt="">
        
        <!-- BODY -->
        <div id="article" class="row pt-3 pb-5 ">{{ page.body|richtext }}</div>
        <!-- TAGS-->
        <div class="pb-5">
            <span class="badge bg-secondary-subtle text-primary-emphasis rounded-pill px-4 py-2 m-1"><a
                    class="nav-link text-dark" href="http://">Alpine JS</a></span>
            <span class="badge bg-secondary-subtle text-primary-emphasis rounded-pill px-4 py-2 m-1"><a
                    class="nav-link text-dark" href="http://">Alpine JS</a></span>
            <span class="badge bg-secondary-subtle text-primary-emphasis rounded-pill px-4 py-2 m-1"><a
                    class="nav-link text-dark" href="http://">Alpine JS</a></span>
            <span class="badge bg-secondary-subtle text-primary-emphasis rounded-pill px-4 py-2 m-1"><a
                    class="nav-link text-dark" href="http://">Alpine JS</a></span>
            <span class="badge bg-secondary-subtle text-primary-emphasis rounded-pill px-4 py-2 m-1"><a
                    class="nav-link text-dark" href="http://">Alpine JS</a></span>
        </div>
    </div>
{% endblock %}