<div class="bg-warning-subtle px-4 py-5 border border-dark d-flex flex-column justify-content-center background-overlay"
     style="height: 95vh">
    {#    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt=""#}
    {#         width="72" height="57">#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 col-md-6 mx-auto">
{#                <h1 class="display-5" style="">Redesign your interior in seconds using AI</h1>#}
                <p>{{ value.content }}</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-start mt-5">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>