<!-- section 1 -->
<div class="container px-4 py-5" id="featured-3">
    <h1 class="pb-2 border-bottom">Columns with icons</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div
                class="rounded-3 p-2 d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="ti ti-circle-check display-6"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and probably just keep going until we run out of words.</p>
            <a href="#"> Call to action <span><i class="ti ti-arrow-narrow-right"
                        style="text-decoration: none;"></i></span></a>
        </div>
        <div class="feature col">
            <div
                class="rounded-3 p-2 d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="ti ti-circle-check display-6"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and probably just keep going until we run out of words.</p>
            <a href="#"> Call to action <span><i class="ti ti-arrow-narrow-right"
                        style="text-decoration: none;"></i></span></a>
        </div>
        <div class="feature col">
            <div
                class="rounded-3 p-2 d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="ti ti-circle-check display-6"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and probably just keep going until we run out of words.</p>
            <a href="#"> Call to action <span><i class="ti ti-arrow-narrow-right"
                        style="text-decoration: none;"></i></span></a>
        </div>

    </div>
</div>

<!-- section 2 -->
<div class="container px-4 py-5" id="hanging-icons">
    <h1 class="pb-2 border-bottom">Hanging icons</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div
                class="p-2 rounded-3 text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="ti ti-file-check display-6"></i>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                    sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary mt-3">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="p-2 rounded-3 text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="ti ti-file-check display-6"></i>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                    sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary mt-3">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="p-2 rounded-3 text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="ti ti-file-check display-6"></i>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                    sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary mt-3">
                    Primary button
                </a>
            </div>
        </div>

    </div>
</div>

<!-- section 3 -->
<div class="container px-4 py-5" id="custom-cards">
    <h1 class="pb-2 border-bottom">Custom cards</h1>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('https://getbootstrap.com/docs/5.3/examples/features/unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="ti ti-map-pin p-1"></i>
                            <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="ti ti-calendar-month p-1"></i>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('https://getbootstrap.com/docs/5.3/examples/features/unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="ti ti-map-pin p-1"></i>
                            <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="ti ti-calendar-month p-1"></i>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('https://getbootstrap.com/docs/5.3/examples/features/unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="ti ti-map-pin p-1"></i>
                            <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="ti ti-calendar-month p-1"></i>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- section 4 -->
<div class="container px-4 py-5" id="icon-grid">
    <h1 class="pb-2 border-bottom">Icon grid</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <i class="ti ti-calendar-month p-1 display-6"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="ti ti-calendar-month p-1 display-6"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="ti ti-calendar-month p-1 display-6"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="ti ti-calendar-month p-1 display-6"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="ti ti-calendar-month p-1 display-6"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="ti ti-calendar-month p-1 display-6"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="ti ti-calendar-month p-1 display-6"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="ti ti-calendar-month p-1 display-6"></i>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>


    </div>
</div>

<!-- section 5 -->
<div class="container px-4 py-5">
    <h1 class="pb-2 border-bottom">Features with title</h1>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Left-aligned title explaining these awesome features</h2>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add
                onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary btn-lg">Primary button</a>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2 align-items-start">
                    <div
                        class="rounded-3 p-2 d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <i class="ti ti-circle-check display-6"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2 align-items-start">
                    <div
                        class="rounded-3 p-2 d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <i class="ti ti-circle-check display-6"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2 align-items-start">
                    <div
                        class="rounded-3 p-2 d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <i class="ti ti-circle-check display-6"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2 align-items-start">
                    <div
                        class="rounded-3 p-2 d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <i class="ti ti-circle-check display-6"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>


            </div>
        </div>
    </div>
</div>